@{
    ViewData["Title"] = "Privacy Policy";
}

<h1>@ViewData["Title"]</h1>

<p>At our company, we respect your personal data. We have never sold your information to someone else for advertising, or made money by showing you other people's ads, and we never will. This has been our approach for almost 20 years, and we remain committed to it.</p>

<h2>What data we collect</h2>
<p>We collect your data when you browse our site, use our apps, or purchase and use our products. This data includes your name, email address, phone number, and payment information.</p>

<h2>How we use your data</h2>
<p>We use your data to provide you with the products and services you purchase from us, to make our products better, and to communicate with you.</p>

<h2>How we share your data</h2>
<p>We do not and will never sell your data to third parties. We only share your data as necessary for any third party to provide the services as requested or as needed on our behalf.</p>

<h2>Your rights</h2>
<p>You have the right to access and control your personal data. You can also request that we delete your personal data.</p>

<a class="btn btn-primary" asp-action="Index" asp-controller="Home">Back to Home</a>